<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="bg-[#7B0404] flex justify-end ">
          <a href="#" class="text-white m-3"> Home </a>
          <a routerLink="/comparacao" class="text-white m-3"> Comparação </a>
          <a routerLink="/primeiro-carro" class="text-white m-3" > Primeiro Carro </a>
          <a routerLink="/carro" class="text-white m-3" > Iniciar </a>
        </div>
    </div>
</body>
</html>