<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="bg-[#7B0404] flex justify-center lg:justify-end p-4 w-full">
      <nav class="flex lg:mr-8 gap-4">
        <a href="#" class="text-white"> Home </a>
        <a routerLink="/comparacao" class="text-white"> Comparação </a>
        <a routerLink="/primeiro-carro" class="text-white"> Primeiro Carro </a>
        <a routerLink="/carro" class="text-white"> Iniciar </a>
      </nav>
    </div>
  </body>
</html>
