<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="geral">    
    <div class="flex justify-center" id="container-img"> 
        <img [src]="'/assets/logo.png'">
    </div>
   
    <div class="marcas">
        <div class="titulo-marcas">
            <h1 class="text-5xl m-8 font-bold text-rose-900		">Principais Marcas</h1>
        </div>
        <div class="logo-marcas">
            <div class="imagem-marca" (click)="marcas('Volkswagen')">
                <img [src]="'/assets/volks.png'" class="w-7" >
            </div>
            <div class="imagem-marca" (click)="marcas('Chevrolet')">
                <img [src]="'/assets/Chevrolet.png'" class="w-8">

            </div>
            <div class="imagem-marca" (click)="marcas('Ford')">
                <img [src]="'/assets/ford.png'" class="w-9">

                
            </div>
            <div class="imagem-marca" (click)="marcas('Fiat')">
                <img [src]="'/assets/fiat.png'" class="w-6 h-5rem  mt-1 ">

            </div>
            <div class="imagem-marca" (click)="marcas('Renault')">
                <img [src]="'/assets/renault.png'" class="w-5  m-2" style="height: 85%;">

                
            </div>
            <div class="imagem-marca" (click)="marcas('Hyundai')">
                <img [src]="'/assets/hyundai.png'" class="w-8">

            </div>
        </div>
    </div>
    <div class="flex"> 
            <div class="w-1/4 bg-gray-200 p-4">
        <h2 class="text-lg font-bold mb-2">Filtros</h2>
        <h3 class="text-md font-semibold mb-1">Categorias</h3>
        <label *ngFor="let categoria of categorias" class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox text-blue-500" [(ngModel)]="categoria.checked" (change)="aplicarFiltros()">
            <span class="ml-2">{{ categoria.label }}</span>
        </label>
    
        <h3 class="text-md font-semibold my-1">Valor</h3>
        <label *ngFor="let valor of valores" class="inline-flex items-center">
            <input type="checkbox" class="form-checkbox text-blue-500" [(ngModel)]="valor.checked" (change)="aplicarFiltros()">
            <span class="ml-2">{{ valor.label }}</span>
        </label>
    </div>

            <div class="flex-wrap ml-10" >
                <div class="flex" >
                    <div *ngFor="let carro of carros" class="">
                        <div *ngIf="marca == carro.marca && verificaCategoria(carro.categoria)|| marca == '' && verificaCategoria(carro.categoria)  || marca == carro.marca && !verificaFiltroCategoriaSelecionado()|| marca  == '' && !verificaFiltroCategoriaSelecionado()">
                            <div class=" bg-[#F2F2F2] rounded-lg m-5 p-3 shadow-xl w-60">
                            <div class="bg-white w-full h-44 "></div>
                            <h1 class="mt-3">{{carro.marca}}</h1> 
                            <h1 class="font-bold text-lg">{{carro.nome}}</h1>
                            <div class="bg-slate-400 rounded-lg text-center inline-block w-auto p-1 text-xs m-1">
                                <h3>{{carro.categoria}}</h3>
                            </div>
                            <div class="bg-slate-400 rounded-lg text-center inline-block w-auto p-1 text-xs m-1">
                                <h3>{{carro.combustivel}}</h3>
                            </div>
                            <div class="bg-slate-400 rounded-lg text-center inline-block w-auto p-1 text-xs">
                                <h3>{{carro.cambio}}</h3>
                            </div>
                            <div class="flex items-center mt-10">
                                <h2 class="font-extrabold text-red-900 text-lg mr-1"> Valor:</h2> <h2 class="mt-1">{{carro.preco | currency: 'BRL'}}</h2> 
                            </div>
                            <button class="bg-red-900 text-white rounded-lg w-full mt-2" (click)="modal.toggle()">ver mais</button>
                            <app-carro #modal >
                                <div class="inline-block w-96">
                                    <div  class="bg-red-900 w-1/2 h-44  "></div>
                                    <div class="flex items-center mt-3 border-1 rounded-lg border-black">
                                        <h2 class="font-extrabold text-red-900 text-lg      "> Valor:</h2> <h2 class="mt-1">{{carro.preco | currency: 'BRL'}}</h2> 
                                    </div>
                                    <div class="flex items-center mt-3 ">
                                        <h2 class="font-extrabold text-red-900 text-lg "> IPVA:</h2> <h2 class="mt-1">{{carro.ipva | currency: 'BRL'}}</h2> 
                                    </div>
                                    <div class="flex items-center mt-3">
                                        <h2 class="font-extrabold text-red-900 text-lg "> Categoria:</h2> <h2 class="mt-1">{{carro.categoria}}</h2> 
                                    </div>
                                </div>
                        <!-- {{ carro.nome }} - R$ {{ carro.preco }}
                        {{carro.combustivel}} {{carro.ipva}}
                        {{carro.categoria}}{{carro.lugares}} 
                        {{carro.tracao}}{{carro.cambio}}
                        {{carro.consumoUrbano}}{{carro.consumoRodoviario}} -->
                        </app-carro> 
                    </div>
                </div>
            </div>
        </div>
        
    
        </div>
      
    </div>


</div>

  

</body>
</html>
