<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="geral">    
    <div class="flex justify-content-center " id="container-img"> 
    <img [src]="'/assets/logo.png'">
    </div>
   
    <div class="marcas">
        <div class="titulo-marcas">
            <h1>Principais Marcas</h1>
        </div>
        <div class="logo-marcas">
            <div class="imagem-marca">
                <img [src]="'/assets/volks.png'" class="w-7" >
            </div>
            <div class="imagem-marca">
                <img [src]="'/assets/Chevrolet.png'" class="w-8">

            </div>
            <div class="imagem-marca">
                <img [src]="'/assets/ford.png'" class="w-9">

                
            </div>
            <div class="imagem-marca">
                <img [src]="'/assets/fiat.png'" class="w-6 h-5rem  mt-1 ">

            </div>
            <div class="imagem-marca">
                <img [src]="'/assets/renault.png'" class="w-5  m-2" style="height: 85%;">

                
            </div>
            <div class="imagem-marca">
                <img [src]="'/assets/hyundai.png'" class="w-8">

            </div>
        </div>
    </div>
    
    <div class="container-conteudo">
        <div class="container-filtro">
            <h2>Filtros</h2>
            <h3>Categorias</h3>
            <label><input type="checkbox" class="check">Sedã</label>
            <label><input type="checkbox">Hatch</label>
            <label><input type="checkbox">SUV</label>
            <label><input type="checkbox">Picape</label>
            <label><input type="checkbox">Minivan</label>
            <h3>Valor</h3>
            <label><input type="checkbox">Até R$70.000</label>
            <label><input type="checkbox">Até R$100.000</label>
            <label><input type="checkbox">Até R$120.000</label>
            <label><input type="checkbox">Mais de R$120.000</label>
        </div>
        <div class="container-lista-carro">
          
        </div>
    </div>
</div>
</body>
</html>
