.header {
    background-color: #7B0404;
    color: #fff;
    padding: 0.8%;
    
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }
    
    .menu {
      display: flex;
      justify-content:flex-end;
      a {
        color: #ffff;
        text-decoration: none;
      }
    }
  }