<div class="flex justify-center bg-[#242424] w-screen">
  <img [src]="'/assets/logo.png'" class="shadow-xl" />
</div>

<h1 class="font-bold text-[#7B0404] p-5 s1400:px-40 s1400:text-2xl s1900:px-80">Encontre o seu primeiro carro:</h1>

<div class=" flex flex-col items-center w-screen" *ngFor="let carro of carrosPrimeiroCarro">


  <!-- container carros -->
  <div class="w-[90%] flex-col flex px-4 s600:px-4  py-4 rounded-lg s1900:w-[60%] border-black border s1400:w-[80%]">
<div class="flex-col s600:flex-row flex s600:gap-4">



    <div class="flex flex-col w-full s600:w-1/3 s800:w-2/4 s1400:w-2/5">
      <img [src]="carro.imagem" class="rounded-lg pt-1"/>
      <p class="font-bold w-full text-center p-1">ONIX 2014</p>
    </div>

    <div class="flex w-full s600:w-2/3">
          <!-- left stats -->
      <div class="w-1/2 flex-col flex s600:gap-2 s800:gap-4 s1200:gap-7 ">
        <p class="text-base"><b class=" text-[#7B0404]">Valor:</b> {{ carro.preco | currency : "BRL" }}</p>
        <p class="text-base"><b class=" text-[#7B0404]">Categoria:</b> {{ carro.categoria }}</p>
        <p class="text-base"><b class=" text-[#7B0404]"> Ano:</b> {{ carro.ano }}</p>
        <p class="text-base"><b class=" text-[#7B0404]"> Tração:</b> {{ carro.categoria }}</p>
        <div class="flex flex-col s600:hidden s800:flex">
          <p class="text-base"><b class=" text-[#7B0404]">Consumo Urbano:</b></p>
          <p class="text-sm p-1">{{ carro.consumoUrbano }}</p>
        </div>
      </div>

    <!-- right stats -->
      <div class="w-1/2 s600:gap-2 s800:gap-4 s1200:gap-7 flex flex-col">
        <p class="text-base"><b class=" text-[#7B0404]">IPVA:</b> {{ carro.ipva | currency : "BRL" }}</p>
        <p class="text-base"><b class=" text-[#7B0404]">Câmbio:</b>{{ carro.cambio }}</p>
        <p class="text-base">
          <b class=" text-[#7B0404]"> Lugares: </b>{{ carro.lugares }}
        </p>
        <p class="text-base"><b class=" text-[#7B0404]">Combustivel:</b> {{ carro.combustivel }}</p>
        <div class="flex flex-col s600:hidden s800:flex">
        <p class="text-base"><b class=" text-[#7B0404]">Consumo Rodoviário:</b></p>
        <p class="text-sm p-1">{{ carro.consumoRodoviario }}</p>
      </div>
      </div>
    </div>
    
    
    
  </div>
    <div class="hidden s600:flex s600:flex-col items-center s800:items-end s800:hidden">
      <div class="flex gap-2 items-center">
        <p class="text-base"><b class=" text-[#7B0404]">Consumo Rodoviário:</b></p>
        <p class="text-sm p-1">{{ carro.consumoRodoviario }}</p>
      </div>
      <div class="flex gap-2 items-center">
        <p class="text-base"><b class=" text-[#7B0404]">Consumo Urbano:</b></p>
        <p class="text-sm p-1">{{ carro.consumoUrbano }}</p>
      </div>
    </div>
  </div>
</div>
